/* Navigation bar */
nav.daohang {
    background-color: #9bccea;
}
div.navbar-collapse {
    font-size: 1.4rem;
    
}

div.navbar-collapse ul li a {
    color: black;
}
li.login_area {
    border: 1px solid black;
    border-radius: 50%;
}

/* Main body area */
div.main {
    margin-top:1%;
}
