div.form-area {
    padding-left:5%
}
div.form-area label{
    font-size: 1.3rem;
}
div.checkbox_box {
    height: 300px;
    overflow: auto;
}
div.checkbox_area {
    background-color: #b5b5b5;
    padding-top:2%;
    padding-bottom: 2%;
    margin-top: 1%;
}
div.btn-area {
    margin-top: 5%;
}
button.feedback_btn {
    width: 150px;
    background-color: #b6b6b6;
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}