
html {
    font-family: sans-serif;        /* Default font */
    font-size: 20px;                /* Adjusting font size */
    -ms-text-size-adjust: 100%;     /* IE */
   -webkit-text-size-adjust: 100%;  /* FireFox */
}

body{
    margin: 0;      /* Outer Margin */
    padding: 0;     /* Inside Margin */
    border: 0;      /* Borders */
    background-color: #f4f4f4;
}


a {
    text-decoration: none;      /* Removing the default underline */
}

a:focus {
    outline:thin dotted;       /* Handling inconsistencies between "outline" in Chrome and other browsers */
}

a:active, a:hover {
    outline: 0;
}

ul{
    list-style-type: none;      /*  Removing the dot from ul*/
}
input{outline:none;}
