

.header {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    padding:20px;
}

.header a{

    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 16px 5px 16px;
    text-decoration: none;
    font-size: 30px;
}

.header a:hover {
    background-color: #ddd;
    color: #000000;
}

.login {
    float:right;
    margin-right: 5%;
}

.idinf{
  margin-left: 15%;
  font-size: 18px;
}
.idinf a{
    text-decoration: none;
    display: block;
    color: #000000;
    text-align: center;
}

.pers{
    font-size: 30px;
    margin-left: 10%;
}
.namegroup{
    display: flex;
}
.lname{
    margin-left: 10%;
}
input{
    border-radius: 5px;
    outline: none;
}
input.userid{
    background-color: rgba(255, 255, 255, 0);
    border-width: 0px;
    width: 20%;
}
input.name{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    width: 18%;
}
input.email{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    width: 30%;
}
input.phone{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    width: 20%;
}
input.balance{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    margin-left: auto;
    width: 10%;
}
select{
    background-color: #ffffff;
    border-width:2px;
}
input.discount{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    width: 10%;
}
input.drivenum{
    background-color: #ffffff;
    border-width:2px;
    position: relative;
    caret-color: #426BF2;
    width: 36%;
}

#gender{
  font-size: 18px;
}
body{
    background-image: url("../image/background.webp");
    width:100%;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c95af;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 70%;
}

.button:hover {background-color: #4c95af
}

.button:active {
    background-color: #4c95af;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.buttonwallet{
    background-color: #71d1ee;
    border-radius: 15px;
    border: none;
    color: #81dcda;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonwallet:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonl{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}

.buttonl {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.buttonl:hover {
    background-color: #4CAF50;
    color: white;
}

a.l{
    text-decoration: none;
    display: block;
    color: #000000;
}

body {margin:0;}
ul.down {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.down li {float: left;}

ul.down li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}



ul.down li.icon {
    display: none;
    margin-right: 5%;
}

@media screen and (max-width:700px) {
    ul.down li:not(:first-child) {display: none;}
    ul.down li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:700px) {
    ul.down.responsive {position: relative;}
    ul.down.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.down.responsive li {
        float: none;
        display: inline;
    }
    ul.down.responsive li a {
        display: block;
        text-align: left;
    }
}






