div.menu_area ul li {
    padding-top: 20%;
    padding-bottom: 20%;
    color: black;
    margin-top: 1%;
}
.menu_active {
    background-color: #acdff8;
}
div.menu_area ul li a {
    color: black;
    text-decoration: none;
}
div.order-area {
    margin-top: 3%;
}
div.order-area div.data-area {
    padding-top: 2%;
}