div.order-area {
    margin-top:1%
}
div.order-area div.data-area {
    padding-top: 5%;
}
div.order-area span.money-area {
    padding-right: 30%;
    font-size: 1.1rem;
}
div.total-income-area {
    background-color: #a7cf74;
    margin-top: 5%;
    padding-top: 10%;
    padding-bottom: 20%;
}
div.income-number-area {
    /* width:80%; */
    background-color: #f7d98b;
    margin-top:5%;
    margin-right: 5%;
    margin-left:5%;
    padding-top: 10%;
    padding-bottom: 10%;
    height: auto;
    font-size: 1.25rem;
}