
.header {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    padding:20px;
}

.header a{

    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 16px 5px 16px;
    text-decoration: none;
    font-size: 30px;
}

.header a:hover {
    background-color: #ddd;
    color: #000000;
}

.login {
    float:right;
    margin-right: 5%;
}

* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../image/background.webp");
}


a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

body {
    /* background-color: pink; */
}

.w {
    /* background-color: yellow; */
    width: 100%;
    margin: 0 auto;
}

/* nav */
.nav .icon-first {
    width: 20%;
    float: left;
    margin-left: -36px;
    margin-right: -30px;
}

.nav ul {
    padding-left: 163px;
}

.nav ul li {
    list-style: none;
    float: left;
    margin-right: 42px;
    line-height: 188px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 29px;
}

.nav {
    width: 100%;
    background-color: rgb(137 202 234);
    height: 138px;
    border-bottom: 1px solid black;
}

.nav .icon-floor {
    width: 7%;
    float: left;
    margin-left: -4px;
    margin-top: 39px;
}

.nav .icon-floor img {
    width: 100%;
}

/* content */
.content {
  display:flex;
  width:100%;
  height:auto;
  flex-wrap: wrap-reverse;

}

/* .content ul li::before {
    content: "";
    width: 34px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #80808099;
    vertical-align: middle;
    margin-right: 14px;
    position: relative;
    left: -56px;
    top: 70px;
} */
.content .left_box .first-btn {
    width: 59px;
    height: 44px;
    border-radius: 50%;
    background-color: #80808099;
    position: absolute;
    top: 60px;
    left: -82px;
}

.content .left_box .second-btn {
    width: 59px;
    height: 44px;
    border-radius: 50%;
    background-color: #80808099;
    position: absolute;
    top: 322px;
    left: -82px;
}

button.edit{
    outline: none;
    background-color: rgba(255, 191, 99, 0.69);
    font-size: 18px;
    width: 20%;

}
.content .left_box {
    /* background-color: brown; */
    /* height: 492px; */
    width: 651px;
    height:492px;
    float: left;
    margin-left: 3%;
    transform: scale(0.86);

}

.content .left_box ul li {
    width: 100%;
    height: 180px;
    margin-bottom: 81px;
    background-color: rgba(255, 191, 99, 0.69);
    position: relative;

}

.left_box .first .info {
    width: 367px;
    /* background-color: pink; */
    position: absolute;
    top: 18px;
    padding: 10px 5px;
    left: 20px;
}
input.card{
    width: 80%;
    height: 40px;
    background-color: rgba(255, 191, 99, 0.69);
    border-width: 0px;

}

.edit{
    float:right;
}


.left_box .first .info p {
    font-size: 12px;
    color: #cb1d1d;
    float: left;
    margin-right: 128px;
}

.left_box .first .info a {
    color: black;
    background-color:rgba(255, 191, 99, 0.69);
    font-size: 14px;
    position: relative;
}


.content .right_box {
    background-color: rgba(255, 191, 99, 0.69);
    width: 335px;
    height: 400px;
    margin-top: 2%;
    margin-left: 5%;
}

.right_box h3 {
    font-size: 29px;
    font-weight: 500;
    margin-bottom: 14px;
}

.right_box h4 {
    font-size: 20px;
    font-weight: 400;
}

.right_box .amount .amount-num {
    height: 44px;
}

.order_num p {
    margin-top: 19px;
    font-size: 18px;
    margin-bottom: 24px;
}

.time p {
    font-size: 18px;
    margin-top: 19px;
    font-weight: 530;
    margin-bottom: 138px;
}
.right_box button {
    width: 155px;
    height: 61px;
    font-size: 23px;
    line-height: 16px;
    background-color: #e1e17c;
    position: absolute;
    bottom: 39px;
    right: 50px;
}




.second .info a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 52px;
    left: 250px;
}

input.bill{
    background-color: rgba(255, 191, 99, 0.69);
    border-width: 0px;
    height: 30px;
    width: 80%;
}



body {margin:0;}
ul.down {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.down li {float: left;}

ul.down li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}



ul.down li.icon {
    display: none;
    margin-right: 5%;
}

@media screen and (max-width:700px) {
    ul.down li:not(:first-child) {display: none;}
    ul.down li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:700px) {
    ul.down.responsive {position: relative;}
    ul.down.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.down.responsive li {
        float: none;
        display: inline;
    }
    ul.down.responsive li a {
        display: block;
        text-align: left;
    }
}
