﻿@charset "utf-8";
html {
    color: #050a10;
    font-family: Microsoft YaHei, sans-serif, Arial, '宋体';
    font-size: 14px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td,
strong {
    padding: 0;
    margin: 0;
    font-family: Microsoft YaHei, sans-serif, Arial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

a {
    text-decoration: none;
    color: #050a10;
    outline: none;
}


/*此处待添加默认链接颜色*/

var,
em,
strong {
    font-style: normal;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* font-weight: normal; */
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

legend {
    color: #000;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button,
textarea,
select {
    *font-size: 100%;
}

input[type=button],
input[type=submit],
input[type=file],
button {
    cursor: pointer;
    -webkit-appearance: none;
    border: none;
    outline: none;
}

.clear {
    clear: both;
    overflow: hidden;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.mar {
    margin: 0 auto;
}

.dis-no {
    display: none;
}

.disno {
    display: none;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font24 {
    font-size: 24px;
}