.btn-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    display: none !important;
}


@media all and (max-width: 1200px) {
    .content {
        width: 100%;
    }
    .con_list{
        padding: 27px 0;
    }
}

@media all and (max-width: 1125px) {
    header {
        display: none;
    }
    .mobile-nav{
        display: flex !important;
    }
}


@media all and (max-width: 812px) {
    #search-btn {
        display: none;
    }
    #submit-btn{
        display: none;
    }
    .btn-group{
        display: flex !important;
    }
}

@media all and (max-width: 561px) {
    ul.mar {
        width: 80%;
        min-width: calc(453px * .8);
    }
}


.btn-group button{
    background: #5a8ed6;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 13px;
}

.mobile-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #4890dc;
    height: 70px;
    position: relative;
    display: none;
}

.logo{
    width: 130px;
}

.menu {
    width: 70px;
}

.drop-down-list{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .5s;
    height: 0;
    overflow: hidden;
}

.drop-down-list.active{
    height: 240px;
    padding: 10px 0;
}

.drop-down-list a{
    width: 100%;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
}

.con_list ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.con_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sign-btn{
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
}

.butBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}
.butBox .button{
    margin: 10px;
    padding: 0;
}

@media all and (max-width: 712px) {
    .butBox{
        padding: 0;
        width: 67%;
        margin-top: 20px;
    }
}
