html,body{
  width: 100%;
  height: 100%;
}


 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li.login{
  float: right;
}

a.bar {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    font-size: 30px;
}

a.bar:hover {
    background-color: #D5E6ED;
}

div.fa1box {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  float: left;
  background-color: #82CEED;
}
div.son1box{
  box-sizing: border-box;
  width: 18%;
  height: 100px;
  /* border: 1px solid blue; */
  float: left;
}
div.son2box{
  box-sizing: border-box;
  width: 82%;
  height: 70px;
  /* border: 1px solid green; */
  float: left;
  margin-top: 30px;
}
