body{
    margin: 0!important;
    background-color: #f9f9f9;
}

.y-panel{
    background-color: #f8f8f8;
    border: #f8f8f8;
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 5px rgb(0 0 0 / 8%);
    border: 1px solid #e7e7e7;
}

.navbar-default {
    padding:20px;
    background-color: #DCE2F1;
    border-color: #e7e7e7;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
