header {
    width: 100%;
    min-width: 1200px;
    height: 200px;
    background: #4890dc;
}

header #head {
    box-sizing: border-box;
    width: 1120px;
    height: 200px;
    padding: 30px 40px 0;
}

header #head .head_logo {
    width: 130px;
    height: 130px;
    background: url(../image/logo.jpg) no-repeat;
    display: block;
}

header #head .head_info {
    font-size: 20px;
    padding-left: 55px;
    margin-top: 73px;
}

header #head .head_info a {
    display: block;
    margin: 0 40px 0 10px;
    float: left;
}

header #head .head_info a:hover {
    font-size: 22px;
    text-decoration: underline
}

.login {
    width: 100px;
    height: 70px;
    border: 1px solid #073f74;
    border-radius: 50%;
    display: block;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    margin-top: 10px;
}


/* content */

.content {
    width: 1200px;
    min-height: 600px;
    height: auto;
    background: #ffffff7d;
}

.content h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.serverBox h1 {
    margin: 0px 0 20px;
}

.serverBox h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.serverBox select {
    margin: 7px 0 0 10px;
    height: 35px;
    width: 210px;
}

.con_list {
    padding: 30px 150px;
}

.con_list ul {
    width: 70%;
}

.con_list ul li {
    height: 48px;
    line-height: 48px;
    border: 1px solid #586970;
    padding: 0 0 0 30px;
    font-size: 18px;
    margin-bottom: 13px;
}

.serverBox ul li {
    margin-bottom: 0px;
}

.con_list ul li span {
    color: #38393b;
    text-align: right;
    width: 100px;
}

.con_list ul li input,
.list ul li input {
    height: 33px;
    line-height: 37px;
    background: transparent;
    margin-top: 6px;
    margin-left: 10px;
    width: 200px;
    color: #11161c;
    padding: 0 3px;
}

.button {
    width: 140px;
    height: 40px;
    background: #da4a6d;
    border-radius: 60%;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    margin-right: 80px;
    display: block;
}

.button:hover {
    background: #e1496e;
}

.OK {
    width: 100px;
    background: #b1cfd1 url(../image/ok.jpg) no-repeat 79px center;
    text-align: left;
    padding-left: 45px;
}

.OK:hover {
    background: #bed9e9 url(../image/ok.jpg) no-repeat 79px center;
}

.summit {
    background: #b1cfd1;
    position: relative;
    top: -60px;
    font-size: 30px;
    width: 160px;
    height: 55px;
    right: 20px;
}

.summit:hover {
    background: #bed9e9;
}

.butBox {
    padding: 30px 150px;
    padding: 30px 150px;
    height: 60px;
    width: 45%
}

.normal {
    background: #b1cfd1;
    margin-right: 50px;
}

.normal:hover {
    background: #bed9e9;
}

.normal:last-child {
    margin-right: 0px;
    border-radius: 10px;
}


/* server*/

.staffServer {
    width: 85%;
}

.staffServer_left,
.staffServer_right {
    width: 30%;
    padding-top: 15px;
    margin-right: 10%
}

.staffServer_left h5 {
    text-align: center;
    font-size: 20px;
}

.staffServer_left .list {
    padding: 30px 40px 10px 20px;
}

.staffServer_left .list ul li {
    height: 35px;
    line-height: 35px;
    border: 1px solid #586970;
    padding: 0 0 0 10px;
    margin-bottom: 13px;
}

.staffServer_left .list ul li input {
    width: 120px!important;
    height: 26px;
    line-height: 26px;
}

.staffServer_right {
    padding-top: 0;
}

.staffServer_right div {
    padding: 12px;
    margin-bottom: 18px;
}

.staffServer_right div span:last-child {
    padding-left: 8px;
}

.noBorder {
    border-bottom: 0px!important;
}

.border {
    border: 1px solid #333;
}

.tj{
    color: white;
    background: black;
}
