/*---------------------Header Start-----------------------*/
header{
    width: 100%;
    margin-bottom: 20px;
    background-color: #5DAEC9;
    box-shadow: 0 2px 5px #000;
}

.header{
    width: 90%;
    margin: 0 auto;
    display: flex;

}

.logo,.login {
    flex-grow: 1;
}

.logo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.logo>img{
    height: 100px;
    width: auto;
}

.navbar{
    flex-grow: 3;
    margin:  0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-left{
    flex-grow: 3;
}

.nav-left>ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left>ul>li>a{
    color: #000;
}

.nav-right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.login{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login > input{
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #61B0CF;
}

.togger{
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 100px;
    display: none;
    z-index: 2;
}

.togger > ul{
    position:absolute;
    left: 0;
    top: 85px;
    right:0;
    display: none;
    z-index: 3;
}

.togger > ul li{
    background-color: rgba(236, 236, 236, 0.644);
    z-index: 2;
}

.togger’ > ul > li > a:hover{
    color:#000;
}

/***Responsive layout***/

@media screen and(min-width:960px) {

    .header{
        min-width: 960px;
    }
}


@media screen and (max-width:960px) and (min-width:750px) {

    body{
        font-size: 20px;
    }

    .header{
        min-width: 750px;
    }

    .nav-left,.login{
        display:none;
    }

    .togger{
        display: block;
    }

    .nav-right{
        justify-content: center;
    }

    .togger:hover > ul{
        display: block;
    }
}


@media screen and (max-width:750px) and (min-width:520px){

    body{
        font-size: 15px;
    }

    .header{
        min-width: 520px;
    }

    .nav-left,.login{
        display:none;
    }

    .nav-left{
        justify-content: center;
    }

    .togger{
        display: block;

    }
    .togger:hover > ul{
        display: block;
    }

}


@media screen and (max-width:520px){

    body{
        font-size: 12px;
    }

    .header{
        min-width: 400px;
    }

    .nav-left,.login{
        display:none;
    }

    .nav-left{
        justify-content: center;
    }

    .togger{
        display: block;
    }

    .togger:hover > ul{
        display: block;
    }

}


/*---------------------Header End-----------------------*/


/*---------------------Content Start-----------------------*/

.content{
    width: 60%;
    margin: 0 auto;
}

.banner{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    margin-bottom:20px ;
}


/*-------------------Banner Start--------------------*/
ul.slides {
position: relative;
width: 100%;
height: 400px;
list-style: none;
margin: 0;
padding: 0;
background-color: #eee;
overflow: hidden;
}

li.slide {
margin: 0;
padding: 0;
width: inherit;
height: inherit;
position: absolute;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
font-family: Helvetica;
font-size: 120px;
color: #fff;
transition: .5s transform ease-in-out;
}

li.slide > img{
width:100%;			/* ... */
height:100%;		/* ... */
display:block;	    /* ... */
}

.slide:nth-of-type(2) {
left: 100%;
}

input[type="radio"] {
position: relative;
z-index: 100;
display: none;
}

.controls-visible {
position: absolute;
width: 100%;
bottom: 12px;
text-align: center;
}

.controls-visible label {
display: inline-block;
width: 10px;
height: 10px;
background-color: #fff;
border-radius: 50%;
margin: 0 3px;
border: 2px solid #fff;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
background-color: #333;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
background-color: #333;
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
transform: translatex(0%);
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
transform: translatex(-100%);
}

.slides input[type="radio"]:nth-of-type(1):checked ~ .navigator:nth-of-type(1) {
display: flex;
}

.slides input[type="radio"]:nth-of-type(2):checked ~ .navigator:nth-of-type(2) {
display: flex;
}


/*-------------------Banner End--------------------*/


/*-------------------Passage Start--------------------*/
.passage{
    margin-bottom: 50px;
}

.passage>p{
    text-align: center;
}
/*-------------------Passage End--------------------*/


/*-------------------Help Start--------------------*/

.help{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

.title>h3{
    color: #0f6498;
    margin: 10px 0px;
}

.support{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.support>span{
    padding:0 15px;
}
/*-------------------Help End--------------------*/

/*-------------------Announcement Start--------------------*/
.announcement{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}

.anno-up{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.anno-up-l{
   width: 45%;
   height: 150px;
   background-color: white;
   box-shadow: 10px 10px 5px #888888;
}

.anno-up-r{
   width: 45%;
   height: 175px;
   background-color: white;
   box-shadow: 10px 10px 5px #888888;
}

.anno-down{
    width: 100%;
    height: 140px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}

.words{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.words>span{
    font-size: 15px;
}


/*-------------------Announcement End--------------------*/
/*-------------------Content End--------------------*/

/*-------------------Footer Start--------------------*/
footer{
    height: 60px;
    display: flex;
    background-color: #5DAEC9;
    font-size: 20px;
    align-items: center;
}
/*-------------------Footer End--------------------*/








/* ----------------------------------Index2.css--------------------------------------- */


.content2{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form > label{
    font-size: 25px;
}

.form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-body>input[type="text"]{
    width: 45%;
    outline-style: none ;
    border-left-width:0px;
    border-top-width:0px;
    border-right-width:0px;
    margin-bottom: 5px;
    height: 25px;
}

.form-row{
    display: flex;
    width: 80% ;
    justify-content: space-between;
    height: 40px;
}

span.row-cell{
    flex-grow: 1;
    height:25px;
}

.bg-form{
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}

.search{
    display: flex;
    width: 60%;
    justify-content: flex-end;
    margin-top: 10px;
}

.search>input[type="submit"]{
    height: 30px;
    width: 70px;
    text-align: center;
     border-radius: 10px;
    border: 1px solid #000;
}

.remark{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    align-items: flex-end;
}

.remark-left,.remark-right{
    width: 25%;
}

.remark-center{
    width: 50%;
}

textarea{
    width: 100%;
    height: 100px;
}

.remark-right{
    display: flex;
    align-items: flex-end;
}

.remark-right > .send{
    margin-left: 30px;
    width: 100px;
}

.send >input[type="submit"]{
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #000;

}


@media screen and (max-width:750px) and (min-width:520px){

    body{
        font-size: 15px;
    }

    .header{
        min-width: 520px;
    }

    .nav-left,.login{
        display:none;
    }

    .nav-left{
        justify-content: center;
    }

    .togger{
        display: block;
    }

    .togger:hover > ul{
        display: block;
    }

}


@media screen and (max-width:520px){

    .remark{
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

}
