* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../image/background.webp");
}


a {
    text-decoration: none;
}

ul li {
    list-style: none;
}


.header {
    width: 100%;
    overflow: hidden;
    background-color: #000000;
    padding:20px;
}

.header a{

    display: block;
    color: #ffffff;
    text-align: center;
    padding: 0px 16px 5px 16px;
    text-decoration: none;
    font-size: 30px;
}

.header a:hover {
    background-color: #ddd;
    color: #000000;
}

.login {
    float:right;
    margin-right: 5%;
}


.w {
    /* background-color: yellow; */
    width: 100%;
    margin: 0 auto;
}

/* nav */
.nav .icon-first {
    width: 20%;
    float: left;
    margin-left: -36px;
    margin-right: -30px;
}

.nav .icon-first img {
    width: 100%;
}

.nav ul {
    padding-left: 163px;
}

.nav ul li {
    list-style: none;
    float: left;
    margin-right: 42px;
    line-height: 188px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 29px;
}



.nav .icon-floor {
    width: 7%;
    float: left;
    margin-left: -4px;
    margin-top: 39px;
}

.nav .icon-floor img {
    width: 100%;
}

/* content */
.content {

    display:flex;
    width:100%;
    height:auto;
    flex-wrap: wrap-reverse;

}

h2 {
    font-size: 51px;
    font-weight: 500;
    /* margin-bottom: 12px; */
}

/* .content ul li::before {
    content: "";
    width: 34px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: #80808099;
    vertical-align: middle;
    margin-right: 14px;
    position: relative;
    left: -56px;
    top: 70px;
} */

.content .left_box {
    /* background-color: brown; */
    /* height: 492px; */
    width: 638px;
    height:500px;
    float: left;
    transform: scale(0.86);
}

.content .left_box ul li {
    width: 100%;
    height: 180px;
    margin-bottom: 66px;
    background-color: rgba(255, 191, 99, 0.69);
    position: relative;

}


.left_box .first .info {
    width: 367px;
    /* background-color: pink; */
    position: absolute;
    top: 18px;
    padding: 10px 5px;
    left: 20px;
}


.left_box .first .info a {
    color: black;
    background-color:rgba(255, 191, 99, 0.69);
    font-size: 14px;
    position: relative;
}



.second .info a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 52px;
    left: 309px;
}

.right_box {

    width: 471px;

    transform: scale(0.76)
}
.right_box h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.right_box input {
    width: 311px;
    margin-bottom: 12px;
    background-color: rgba(255, 191, 99, 0.69);
    font-size: 18px;
}
.right_box .date li {
    width: 83px;
    height: 20px;
    background-color: #b3b3b3;
    float: left;
    margin-right: 102px;
    margin-top: 5px;
}
.right_box .date li input {
    width: 79px;
}
.btn {

    padding-left: 206px;
    padding-top: 34px;
}
.btn li {
    float: left;
    margin-right: -51px;
    width: 125px;

}
.btn li button{
    background-color: rgba(255, 191, 99, 0.69);
    font-size: 20px;
}

.edit{
    float:right;
}

button.edit{
    outline: none;
    background-color: rgba(255, 191, 99, 0.69);
    font-size: 18px;
    width: 20%;

}

input.card{
    width: 80%;
    height: 40px;
    background-color: rgba(255, 191, 99, 0.69);
    border-width: 0px;

}
.second .info a {
    color: black;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    top: 52px;
    left: 250px;
}


body {margin:0;}
ul.down {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.down li {float: left;}

ul.down li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}



ul.down li.icon {
    display: none;
    margin-right: 5%;
}

@media screen and (max-width:700px) {
    ul.down li:not(:first-child) {display: none;}
    ul.down li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:700px) {
    ul.down.responsive {position: relative;}
    ul.down.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.down.responsive li {
        float: none;
        display: inline;
    }
    ul.down.responsive li a {
        display: block;
        text-align: left;
    }
}
